$break: 490px;

.row {
  clear: both;
  display: flex;
  @include respond($break, max) {
    display: block;
  }
  justify-content: space-between;

  align-items: center;
  .col {
    text-align: center;
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    @include respond($break, max) {
      padding: 0;
      + .col {
        margin-top: 33px;
      }
    }

    img.logo {
      display: block;
      max-width: 100px;
    }
  }
}

.logo-box {
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  + .logo-box {
    margin-top: 33px;
  }
  img {
    @include respond($break, max) {
      margin: 0 auto;
    }
  }
}
